/* Fonts */
@font-face {
    font-family: SFPro;
    src: url(../Fonts/SFPro/SFPro.ttf);
}

/* Animations */

@keyframes pathTriangle {
    33% {
      stroke-dashoffset: 74;
    }
    66% {
      stroke-dashoffset: 147;
    }
    100% {
      stroke-dashoffset: 221;
    }
} 
@keyframes dotTriangle {
    33% {
      transform: translate(0, 0);
    }
    66% {
      transform: translate(10px, -18px);
    }
    100% {
      transform: translate(-10px, -18px);
    }
}
@keyframes pathRect {
    25% {
      stroke-dashoffset: 64;
    }
    50% {
      stroke-dashoffset: 128;
    }
    75% {
      stroke-dashoffset: 192;
    }
    100% {
      stroke-dashoffset: 256;
    }
}
@keyframes dotRect {
    25% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(18px, -18px);
    }
    75% {
      transform: translate(0, -36px);
    }
    100% {
      transform: translate(-18px, -18px);
    }
}
@keyframes pathCircle {
    25% {
      stroke-dashoffset: 125;
    }
    50% {
      stroke-dashoffset: 175;
    }
    75% {
      stroke-dashoffset: 225;
    }
    100% {
      stroke-dashoffset: 275;
    }
}

/* Colors */
:root {
    --primary-color: #082032;
    --secondary-color: #FF4C29;
    --third-color: #334756;
    --fourth-color: #2C394B;
    --light-color: #FFFFFF;
}

/* Body */
body {
    background: var(--primary-color);
}

/* Logo */
.scanner span 
{
    color: transparent;
    position: relative;
    overflow: hidden;
    font-family: SFPro;
    padding: 3px;
}
.scanner span::before {
    content: "Code Maze";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--primary-color);
    overflow: hidden;
    color: var(--light-color);
    animation: load91371 2s linear infinite;
} 
@keyframes load91371 {
    0%, 10%, 100% {
        width: 0;
    }
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
        border-right-color: transparent;
    }
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
        border-right-color: var(--primary-color);
    }
    60%, 80% {
     width: 100%;
    }
}

/* Navbar */
.navbar {
    background-color: var(--secondary-color);
    font-family: SFPro;
    font-weight: 400;
}
.navbar a {
    color: var(--primary-color);
}
.navbar a.active {
    font-weight: bold;
}
.navbar .dropdown-menu {
    background-color: var(--secondary-color);
}
.navbar .dropdown-menu a:hover {
    background-color: var(--third-color);
    color: var(--light-color);
}


#main-panal {
    height: 90vh;
}
/* From uiverse.io by @mobinkakei */
#main-panal .loader {
    --path: var(--secondary-color)  ;
    --dot: #5628ee;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
}
#main-panal .loader:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    transform: translate(-18px, -18px);
    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
#main-panal .loader svg {
    display: block;
    width: 100%;
    height: 100%;
}
#main-panal .loader svg rect, #main-panal .loader svg polygon, #main-panal .loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
}
#main-panal .loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
#main-panal .loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
#main-panal .loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
} 
#main-panal .loader.triangle {
    width: 48px;
}
#main-panal .loader.triangle:before {
    left: 21px;
    transform: translate(-10px, -18px);
    animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
} 
#main-panal .loader {
    display: inline-block;
    margin: 0 16px;
}
#main-panal .main-text {
    text-align: center;
    margin: 30px;
    color: var(--light-color);
    font-size: 1.1rem;
    font-family: SFPro;
}

#main-panal .main-text span {
    color: var(--secondary-color);
}